:root {
    --background: white;
    --header-background: #e0e1ea;
    --text-color: #30302d;
    --label-color: #0b385b;
    --placeholder-color: #1a8ce2;
    --offset-color: #d5f7ca;
    --offborder-color: #51de22;
    --action-color: #f2b705;
    --gamecard-color: #facfc7;
    --gamecard-border: #dc3613;
    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

