:root {
    --background: white;
    --header-background: #e0e1ea;
    --text-color: #30302d;
    --label-color: #0b385b;
    --placeholder-color: #1a8ce2;
    --offset-color: #d5f7ca;
    --offborder-color: #51de22;
    --action-color: #f2b705;
    --gamecard-color: #facfc7;
    --gamecard-border: #dc3613;
    --primary-font: 'Rubik', Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
        'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

main {
    display: grid;
    grid-template-rows: auto;
    gap: 60px;
}

button {
    box-shadow: 3px 4px 0px 0px #e1e1ea;
    background-color: #30302b;
    border-radius: 15px;
    border: 1px solid #30302b;
    display: inline-block;
    cursor: pointer;
    color: #e0e1ea;
    font-size: 17px;
    padding: 7px 25px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #30302b;
    width: fit-content;
}
button:hover {
    background-color: #1a8be2;
}

.profile-display {
    background: #fef4d7;
    border: 5px solid var(--action-color);
    border-radius: 43px;
    box-shadow: 15px -15px var(--action-color);
    padding: 20px;
    padding-top: 0;
    display: grid;
    grid-template-rows: auto;
}

.all-games-banner {
    background: var(--offset-color);
    border: 5px solid var(--offborder-color);
    border-radius: 43px;
    box-shadow: 15px -15px var(--offborder-color);
    padding: 15px;
    text-align: center;
    font-weight: 700;
    font-size: x-large;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.avatar-profile {
    width: 200px;
    margin: 20px;
}

.profile-hold {
    display: flex;
    justify-content: space-around;
}
